/WorldOfWarcraftNewsEE-war/build/
/WorldOfWarcraftNewsEE-war/dist/
/WorldOfWarcraftNewsEE-ejb/build/
/WorldOfWarcraftNewsEE-ejb/dist/
/dist/
/build/
/nbproject/private/
/WorldOfWarcraftNewsEE-war/nbproject/private/
/WorldOfWarcraftNewsEE-ejb/nbproject/private/
/WorldOfWarcraftNewsEEAdmin-war/nbproject/private/
/WorldOfWarcraftNewsEEAdmin-war/dist/
/WorldOfWarcraftNewsEEAdmin-war/build/
/WorldOfWarcraftNewsDeveloper/nbproject/private/
/WorldOfWarcraftNewsDeveloper/build/
/WorldOfWarcraftNewsDeveloper/dist/