/WorldOfWarcraftNewsEE-war/build/
/WorldOfWarcraftNewsEE-war/dist/
/WorldOfWarcraftNewsEE-ejb/build/
/WorldOfWarcraftNewsEE-ejb/dist/
/dist/
/build/
/nbproject/private/
/WorldOfWarcraftNewsEE-war/nbproject/private/
/WorldOfWarcraftNewsEE-ejb/nbproject/private/