<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddNoticia</servlet-name>
        <servlet-class>com.wownews.servlets.AddNoticia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getNew</servlet-name>
        <servlet-class>com.wownews.servlets.getNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFirstNews</servlet-name>
        <servlet-class>com.wownews.servlets.GetFirstNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMoreNews</servlet-name>
        <servlet-class>com.wownews.servlets.GetMoreNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getImg</servlet-name>
        <servlet-class>com.wownews.servlets.getImg</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddNoticia</servlet-name>
        <url-pattern>/AddNoticia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getNew</servlet-name>
        <url-pattern>/noticias/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFirstNews</servlet-name>
        <url-pattern>/GetFirstNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMoreNews</servlet-name>
        <url-pattern>/GetMoreNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getImg</servlet-name>
        <url-pattern>/res/img/noticias/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>GetFirstNews</welcome-file>
    </welcome-file-list>
</web-app>
